html, body {
    font-family: 'Poiret One', 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background: rgb(0,55,69);
    background: linear-gradient(90deg, rgba(0,55,69,1) 0%, rgba(4,101,126,1) 16%, rgba(235,235,235,1) 100%);
}

.joinInnerContainer {
    width: 20%;
}

.joinInput {
    border-radius: 20px;
    border: none;
    padding: 15px 20px;
    width: 100%;
}

.heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    font-family: 'Poiret One', cursive;
}

.button {
    color: #fff !important;
    text-decoration: none;
    background: #04657e;
    padding: 17px;
    border-radius: 31px;
    display: inline-block;
    border: none;
    width: 83px;
}

.mt-20 {
    margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }

    .joinInnerContainer {
        width: 90%;
    }


}

button:focus {
    outline: 0;
}